beautifulsoup4=={{core.beautifulsoup4}}
colander=={{core.colander}}
docutils=={{core.docutils}}
fancycompleter=={{core.fancycompleter}}
Jinja2=={{core.jinja2}}
jsonschema=={{core.jsonschema}}
MarkupSafe=={{core.markupsafe}}
mock=={{core.mock}}
PasteDeploy=={{core.pastedeploy}}
py=={{core.py}}
Pygments=={{core.pygments}}
pyramid=={{core.pyramid}}
pyramid_sqlalchemy=={{core.pyramid_sqlalchemy}}
pyramid_tm=={{core.pyramid_tm}}
pytest=={{core.pytest}}
repoze.lru=={{core.repoze_lru}}
six=={{core.six}}
Sphinx=={{core.sphinx}}
SQLAlchemy=={{core.sqlalchemy}}
transaction=={{core.transaction}}
translationstring=={{core.translationstring}}
venusian=={{core.venusian}}
waitress=={{core.waitress}}
WebOb=={{core.webob}}
WebTest=={{core.webtest}}
wheel=={{core.wheel}}
wmctrl=={{core.wmctrl}}
WTForms=={{core.wtforms}}
zope.deprecation=={{core.zope_deprecation}}
zope.interface=={{core.zope_interface}}
zope.sqlalchemy=={{core.zope_sqlalchemy}}
